<div>
  <p>
    <%= user.name %>
  </p>
  <p>
    <%= user.username %>
  </p>
  <p>
    <%= user.email %>
  </p>
  <%= button_to "Create", admin_users_path,
                params: user_params(user)%>
</div>