<div class="py-2"></divpy-2>
  <nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
      <%= button_to t(".new_record"), new_user_path, method: :get, class: 'btn btn-light' %>
    </div>
  </nav>
</div>
<%= render 'users/user', user: @user %>
